<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:type" content="website">
  <title>{{ block "title" . }}{{ end }}</title>
  <meta name="description" content="{{ block "description" . }}{{ end }}">
  <meta property="og:title" content="{{ block "title" . }}{{ end }}">
  <meta property="og:description" content="{{ block "description" . }}{{ end }}">
  <link rel="stylesheet" href="/public/styles.css">
  {{ block "head" . }}{{ end }}
</head>

<body class="flex flex-col font-sans">
  <nav class="py-4 border-b border-black grow-0 shrink px-4 text-center">
    <a href="/" class="text-center font-bold text-lg">Eating is Activism</a>
  </nav>
  <main class="grow">
    {{ template "content" . }}
  </main>
  <footer class="py-4 border-t bg-black grow-0 shrink px-4">
    <p class="text-center text-xs text-white font-semibold">&copy; 2024 Eating is Activism</p>
  </footer>
</body>

</html>