<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>What is the password?</title>
  <meta name="description" content="none shall pass who do not know the secret password.">
  <link rel="stylesheet" href="/public/styles.css">
</head>

<body class="flex flex-col font-sans bg-black px-4">
  <main>
    {{ template "content" . }}
  </main>
</body>

</html>