{{ define "title" }}Eating is Activism{{ end }}
{{ define "description"}}A map of food producers and purveyors that strive for regenerative practices.{{ end }}

{{ define "head" }}
    <meta property="og:url" content="https://eatingisactivism.com/">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
{{ end }}

{{ define "content" }}
  <section class="container mx-auto map-embed mb-20">
    <div id="map" class="w-full h-full"></div>
  </section>

  <section class="container mb-20 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7">
    {{ range .locations }}
      <a href="/locations/{{ .Slug }}" class="bg-white p-5 rounded-lg shadow-md block">
        <h3>{{ .Name }}</h3>
        <p>{{ .Description }}</p>
        <p>{{ .Url }}</p>
      </a>
    {{ end }}
  </section>

  <section class="container max-w-prose mx-auto mb-20">
    <h2 class="text-3xl text-center font-bold mb-10">What is Regenerative Organic Certified?</h2>
    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere iure nesciunt, ipsa, corporis nihil adipisci totam doloremque est, veniam natus beatae magni velit nostrum fuga dolor dolore ipsam quibusdam id.</p>
    <p>Et ut voluptate minim laborum duis adipisicing nisi et consequat adipisicing magna elit. Fugiat minim esse nisi pariatur ut. Ex ad esse exercitation sit do veniam eu. Lorem cillum eu eu nostrud nulla excepteur eu esse eu aute Lorem ipsum.</p>
  </section>

  <section class="container max-w-prose mx-auto mb-20">
    <h2 class="text-3xl text-center font-bold mb-10">What is USDA Organic?</h2>
    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere iure nesciunt, ipsa, corporis nihil adipisci totam doloremque est, veniam natus beatae magni velit nostrum fuga dolor dolore ipsam quibusdam id.</p>
    <p>Et ut voluptate minim laborum duis adipisicing nisi et consequat adipisicing magna elit. Fugiat minim esse nisi pariatur ut. Ex ad esse exercitation sit do veniam eu. Lorem cillum eu eu nostrud nulla excepteur eu esse eu aute Lorem ipsum.</p>
  </section>

  <section class="container max-w-prose mx-auto mb-20">
    <h2 class="text-3xl text-center font-bold mb-10">What is Humane?</h2>
    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere iure nesciunt, ipsa, corporis nihil adipisci totam doloremque est, veniam natus beatae magni velit nostrum fuga dolor dolore ipsam quibusdam id.</p>
    <p>Et ut voluptate minim laborum duis adipisicing nisi et consequat adipisicing magna elit. Fugiat minim esse nisi pariatur ut. Ex ad esse exercitation sit do veniam eu. Lorem cillum eu eu nostrud nulla excepteur eu esse eu aute Lorem ipsum.</p>
  </section>

  <section class="container max-w-prose mx-auto mb-20">
    <h2 class="text-3xl text-center font-bold mb-10">What about Conventional?</h2>
    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere iure nesciunt, ipsa, corporis nihil adipisci totam doloremque est, veniam natus beatae magni velit nostrum fuga dolor dolore ipsam quibusdam id.</p>
    <p>Et ut voluptate minim laborum duis adipisicing nisi et consequat adipisicing magna elit. Fugiat minim esse nisi pariatur ut. Ex ad esse exercitation sit do veniam eu. Lorem cillum eu eu nostrud nulla excepteur eu esse eu aute Lorem ipsum.</p>
  </section>

  <script>
    const locations = JSON.parse({{ .locationsJSON }});
    mapboxgl.accessToken = {{ .mapboxToken }};
    const map = new mapboxgl.Map({
      attributionControl: false,
      compact: true,
      container: 'map',
      style: 'mapbox://styles/mapbox/outdoors-v12',
      center: [-98.5556199, 39.8097343],
      zoom: 3
    });

    map.addControl(new mapboxgl.GeolocateControl({
      positionOptions: {
        enableHighAccuracy: true
      },
      trackUserLocation: true,
      showUserHeading: true
    }));

    locations.forEach(location => {
      new mapboxgl.Marker()
        .setLngLat([location.Lat, location.Lng])
        .setPopup(new mapboxgl.Popup().setHTML(`
            <h3>${location.Name}</h3>
            <p>${location.Url}</p>
          `))
        .addTo(map);
    });

  </script>
{{ end }}