{{ define "title-pages/login" }}What is the password?{{ end }}
{{ define "description-pages/login"}}none shall pass who do not know the secret password.{{ end }}
{{ define "bodyClass-pages/login"}}bg-black{{ end }}

{{ define "head-pages/login" }}
<meta property="og:url" content="https://eatingisactivism.com/">
<script src="/public/main.js"></script>
{{ end }}

<section class="flex flex-row items-center justify-center h-screen w-full bg-stone-700/40 px-4">
  <form action="/login" method="post" class="bg-neutral-50 shadow-md rounded-sm p-10 flex flex-col justify-center items-center w-80">
    <label for="password" class="block w-full mb-1">Password</label>
    <input type="password" name="password" id="password" required class="ring ring-neutral-800 rounded-sm px-3 py-2 w-full mb-5 text-base">
    <input type="submit" value="Enter" class="text-neutral-100 bg-neutral-800 w-full text-base py-2 px-5 flex items-center justify-center rounded-sm ring ring-neutral-800">
  </form>
</section>