{{ define "title" }}{{ .status }} | Eating is Activism{{ end }}
{{ define "description"}}{{ .message }}{{ end }}
{{ define "mainClass" }}flex flex-col{{ end }}

{{ define "content" }}
  <section class="container mx-auto h-full flex flex-col justify-center grow">
    <h1 class="text-center font-bold text-9xl mb-10">{{ .status }}</h1>
    <p class="text-center">{{ .message }}</p>
  </section>
{{ end }}