{{ define "title" }}Eating is Activism{{ end }}
{{ define "description"}}A map of food producers and purveyors that strive for regenerative practices.{{ end }}

{{ define "head" }}
    <meta property="og:url" content="https://eatingisactivism.com/">
    <script src="/public/main.js"></script>
{{ end }}

{{ define "content" }}
  <div class="bg-[rgb(255,247,231)]">
    <section class="container max-w-xl mx-auto px-4 py-24">
      <h1 class="text-center font-bold text-5xl md:text-7xl lg:text-9xl mb-10">Eat Good Food</h1>
      <p class="max-w-prose mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere iure nesciunt, ipsa, corporis nihil adipisci totam doloremque est, veniam natus beatae magni velit nostrum fuga dolor dolore ipsam quibusdam id.</p>
      <p class="max-w-prose mx-auto">Et ut voluptate minim laborum duis adipisicing nisi et consequat adipisicing magna elit. Fugiat minim esse nisi pariatur ut. Ex ad esse exercitation sit do veniam eu. Lorem cillum eu eu nostrud nulla excepteur eu esse eu aute Lorem ipsum.</p>
    </section>
  </div>
  <section class="map-embed mb-20 flex flex-row relative">
    <div id="mapFilters" class="h-full w-96 p-4 bg-white grow-0">
      <form>
        <div id="filter-standards" class="mb-10">
          <p class="font-semibold text-lg mb-4">Standards</p>
          {{ range .standards }}
            <div>
              <label for="{{ .Value }}" class="control checkbox">
                <input type="checkbox" id="{{ .Value }}" name="{{ .Value }}" value="{{ .Value }}" checked />
                <span class="control-indicator"></span>
                {{ .Label }}
              </label>
            </div>
          {{ end }}
        </div>
        <div id="filter-badges" class="mb-10">
          <p class="font-semibold text-lg mb-4">Badges</p>
          {{ range .badges }}
          <div>
            <label for="{{ .Value }}" class="control checkbox">
              <input type="checkbox" id="{{ .Value }}" name="{{ .Value }}" value="{{ .Value }}" checked />
              <span class="control-indicator"></span>
              {{ .Label }}
            </label>
          </div>
          {{ end }}
        </div>
        <div id="filter-tags">
          <p class="font-semibold text-lg mb-4">Tags</p>
          {{ range .tags }}
          <div>
            <label for="{{ .Value }}" class="control checkbox">
              <input type="checkbox" id="{{ .Value }}" name="{{ .Value }}" value="{{ .Value }}" checked />
              <span class="control-indicator"></span>
              {{ .Label }}
            </label>
          </div>
          {{ end }}
        </div>
      </form>
    </div>
    <div id="map" class="h-full w-auto grow"></div>
  </section>

  <section class="container max-w-prose mx-auto mb-20 px-4">
    <h2 class="text-3xl text-center font-bold mb-10">What is Regenerative Organic Certified?</h2>
    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere iure nesciunt, ipsa, corporis nihil adipisci totam doloremque est, veniam natus beatae magni velit nostrum fuga dolor dolore ipsam quibusdam id.</p>
    <p>Et ut voluptate minim laborum duis adipisicing nisi et consequat adipisicing magna elit. Fugiat minim esse nisi pariatur ut. Ex ad esse exercitation sit do veniam eu. Lorem cillum eu eu nostrud nulla excepteur eu esse eu aute Lorem ipsum.</p>
  </section>

  <section class="container max-w-prose mx-auto mb-20 px-4">
    <h2 class="text-3xl text-center font-bold mb-10">What is USDA Organic?</h2>
    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere iure nesciunt, ipsa, corporis nihil adipisci totam doloremque est, veniam natus beatae magni velit nostrum fuga dolor dolore ipsam quibusdam id.</p>
    <p>Et ut voluptate minim laborum duis adipisicing nisi et consequat adipisicing magna elit. Fugiat minim esse nisi pariatur ut. Ex ad esse exercitation sit do veniam eu. Lorem cillum eu eu nostrud nulla excepteur eu esse eu aute Lorem ipsum.</p>
  </section>

  <section class="container max-w-prose mx-auto mb-20 px-4">
    <h2 class="text-3xl text-center font-bold mb-10">What is Humane?</h2>
    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere iure nesciunt, ipsa, corporis nihil adipisci totam doloremque est, veniam natus beatae magni velit nostrum fuga dolor dolore ipsam quibusdam id.</p>
    <p>Et ut voluptate minim laborum duis adipisicing nisi et consequat adipisicing magna elit. Fugiat minim esse nisi pariatur ut. Ex ad esse exercitation sit do veniam eu. Lorem cillum eu eu nostrud nulla excepteur eu esse eu aute Lorem ipsum.</p>
  </section>

  <section class="container max-w-prose mx-auto mb-20 px-4">
    <h2 class="text-3xl text-center font-bold mb-10">What about Conventional?</h2>
    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere iure nesciunt, ipsa, corporis nihil adipisci totam doloremque est, veniam natus beatae magni velit nostrum fuga dolor dolore ipsam quibusdam id.</p>
    <p>Et ut voluptate minim laborum duis adipisicing nisi et consequat adipisicing magna elit. Fugiat minim esse nisi pariatur ut. Ex ad esse exercitation sit do veniam eu. Lorem cillum eu eu nostrud nulla excepteur eu esse eu aute Lorem ipsum.</p>
  </section>

  <script>
    const locations = JSON.parse({{ .locationsJSON }});

    eia.setLocations(locations);
    eia.setMapboxToken({{ .mapboxToken }});
    eia.init();
  </script>
{{ end }}