{{ define "title" }}Eating is Activism | Locations{{ end }}
{{ define "description"}}A list of food producers and purveyors that strive for regenerative practices.{{ end }}

{{ define "content" }}

<section class="container mb-20 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7">
  {{ range .locations }}
  <a href="/locations/{{ .Slug }}" class="bg-white p-5 rounded-lg shadow-md block">
    <h3>{{ .Name }}</h3>
    <p>{{ .Description }}</p>
    <p>{{ .Url }}</p>
  </a>
  {{ end }}
</section>

{{ end }}