@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/public/fonts/avenir-next-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/public/fonts/avenir-next-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/public/fonts/avenir-next-demibold.woff2') format('woff2');
  }

  @font-face {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/public/fonts/avenir-next-bold.woff2') format('woff2');
  }

  main {
    min-height: calc(100vh - 110px);
  }
}

@layer components {
  .map-embed {
    max-width: 100%;
    max-height: 100%;
    width: 1000px;
    height: 650px;
    margin: 0 auto;
  }
}