@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/public/fonts/avenir-next-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/public/fonts/avenir-next-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/public/fonts/avenir-next-demibold.woff2') format('woff2');
  }

  @font-face {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/public/fonts/avenir-next-bold.woff2') format('woff2');
  }

  main {
    min-height: calc(100vh - 110px);
  }
}

@layer components {
  .map-embed {
    max-width: 100vw;
    width: 100%;
    min-height: 640px;
    height: 100vh;
    max-height: 1000px;
  }

  #map .mapboxgl-popup {
    width: 100%;
    width: 480px!important;
    max-width: calc(100vw - 32px)!important;
  }

  #map .mapboxgl-popup-content {
    @apply p-0 rounded-none bg-transparent;
  }

  #map .mapboxgl-popup-content .mapboxgl-popup-close-button {
    font-size: 30px;
    padding: 5px 6px;
    top: 0px;
    right: 2px;
  }

  #map .location-popup {
    @apply p-4 md:p-7 rounded-md bg-white;
  }

  #map .location-popup {
    @apply p-4 md:p-7;
  }

  #map .location-popup .tags,
  .location-single .tags {
    @apply flex flex-row gap-1 mb-2 list-none;
  }

  #map .location-popup h3 {
    @apply font-sans font-semibold text-lg;
  }

  #map .location-popup p {
    @apply mb-6;
  }

  #mapFilters {
    top: 10px;
    left: -384px;
    transition: left 240ms ease-in-out;
  }

  #mapFilters.show {
    left: 10px;
  }

  .button {
    @apply block text-center px-8 py-3 font-bold text-base leading-none rounded-full transition-colors;
  }

  .button:focus,
  .button:focus-visible {
    @apply outline-none;
  }

  .button-outline {
    @apply border-black text-black border-4 hover:bg-black hover:text-white;
  }

  #map .marker {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-width='1.5' class='w-6 h-6' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z'/%3E%3C/svg%3E");
    height: 24px;
    width: 24px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #map .marker.gold {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#fde68a' stroke='currentColor' stroke-width='1.5' class='w-6 h-6' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z'/%3E%3C/svg%3E");
  }

  #map .marker.silver {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#d4d4d8' stroke='currentColor' stroke-width='1.5' class='w-6 h-6' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z'/%3E%3C/svg%3E");
  }

  #map .marker.bronze {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#d97706' stroke='currentColor' stroke-width='1.5' class='w-6 h-6' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z'/%3E%3C/svg%3E");
  }

  #map .marker.patagonia {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#016BB7' stroke='currentColor' stroke-width='1.5' class='w-6 h-6' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z'/%3E%3C/svg%3E");
  }
}